@model PersonViewModel
@{
    ViewBag.Title = "Provide Information";
}
@section Scripts{
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<!DOCTYPE html>
<html>
<head>
    <title>Meal Planner: @ViewBag.Title </title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body bg-light">
                <form method="post" id="theForm">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="form-group">
                        <label asp-for="FirstName">Your First Name:</label>
                        <input type="text" asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your Last Name:</label>
                        <input type="text" asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your Age:</label>
                        <input type="text" asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your Gender:</label>
                        <input type="text" asp-for="Gender" class="form-control" />
                        <span asp-validation-for="Gender" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your Height:</label>
                        <input type="text" asp-for="Height" class="form-control" />
                        <span asp-validation-for="Height" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your numMealsADay:</label>
                        <input type="text" asp-for="NumOfMealsPerDay" class="form-control" />
                        <span asp-validation-for="NumOfMealsPerDay" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your Sleep:</label>
                        <input type="text" asp-for="SleepDaily" class="form-control" />
                        <span asp-validation-for="SleepDaily" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your Weekly cardio:</label>
                        <input type="text" asp-for="CardioWeekly" class="form-control" />
                        <span asp-validation-for="CardioWeekly" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your bodyfat:</label>
                        <input type="text" asp-for="BodyFatPercentage" class="form-control" />
                        <span asp-validation-for="BodyFatPercentage" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <label>Your predicted muscle gain:</label>
                        <input type="text" asp-for="PredictedYearlyMuscleGain" class="form-control" />
                        <span asp-validation-for="PredictedYearlyMuscleGain" class="text-warning"></span>

                    </div>

                    <div class="form-group">
                        <input type="submit" value="submit" class="btn btn-success" />
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>
